# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore bin output directory
bin

# Ignore logs
*.log

# Test data sets
*.gz

# Test output dir
malt-nt/